/*TELA GRANDE*/
@media ( min-width : 768px) {
	.alert {
		padding-left: 10px;
		padding-right: 10px;
	}
	.form-horizontal {
		padding-left: 10px;
		padding-right: 10px;
	}
}

.navbar-brand {
	padding-top: 12px;
}

.sistema-pn-link {
	float: right;
	padding: 0px;
}

.sistema-pn-titulo {
	float: left;
	padding-top: 2px;
}